/***************************  Universal Styles ************************************/
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: none;
}

.image-container img {

  /* made the images themselves in the imgae-container to be inline-flex so they can 
  display on the same line*/
  display: inline-flex;

  max-width: 100%;
}

/* Header */

header {
  position: fixed;

  /* added z-index so the header always stay in the front*/ 
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  min-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;

  /* added the background image to the sign-up container*/ 
  background-image: url(../images/banner-landingpage.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-up-cta {

  /* added the margin to the sign up container*/
  margin: auto 10rem auto 5rem;

  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #f3f3f3;
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0 1.25rem;
  background-color: white;
}

.feature .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;  
  /* added padding to the bottom of the images in the features section for a cleaner look*/
  padding-bottom: 30px;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

/* Filters Section */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {

  /* made the images container's display flex in the filters section */
  display: flex;

  max-width: 100%;
  padding: 0 1%;
}

/* Quotes Section */

#quotes-section {

  /* added top and bottom padding to the quote section for a better look*/
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: #f3f3f3;
}

#quotes-section content {
  padding: 5rem 0;
}

/* added a period before the quote to render proper styles for the the quote*/
#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

/* added a period before the quote-citation to render proper styles for the the quote*/
#quotes-section .quote-citation {
  height: 1.875rem;
}

/* Footer */

footer {
  /* changed the font-size to 12px */
  font-size: 12px;

  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-family: 'Roboto';
}

footer .copyright {
  flex-grow: 1;
}

/***************************** All styles for 450px screens **************************************** */
@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}

/***************************** All styles for 760px screens **************************************** */
/* only one media query for 760px screen (go all the way down for comments about other 760px screen media queries)*/
@media only screen and (max-width: 760px) {

  /* header section */
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }

  /* sign up section*/
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {

    /* changes the margin to auto for the sign-up section when the screen size is smaller. 
    This will cause the text 'Instant Format Camera' in the sign-up section to be in the center 
    of the screen when the screen size is reduced  */ 
    margin: auto;

    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }

  /* main section */
  .main-content {
    top: 2.5625rem;
  }

  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  #filters-section {
    padding: 1.5rem 0 0 0;

    /* added a top margin to the filters section to there is some space between the features
    and the filters and it looks better */
    margin-top: 2rem;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    /* added a 1rem padding to the bottom of the features sections for a better, more consistent look*/ 
    padding-bottom: 1rem;
  }

  #filters-section .extra {
    display: none;
  }

  #quotes-section {
    /* changed the padding to 1rem top and bottom so when the screen is small the padding is reduced as well */
    padding: 1rem 0;
  }

  /* added a period before the quote to render proper styles for the the quote*/
  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;

    /* added side padding to the quote when the screen size is small */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* added a period before the quote-citation to render proper styles for the the quote*/
  #quotes-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
  
  /* footer section */
  footer .content {

    /* changed the font-size to 10px when the screen size is small */
    font-size: 10px;

  }
}

/***************************** All styles for 890px screens **************************************** */
@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

/*************************************************************************************************************
                                                                                                             *
All the code for 760px screens and smaller is below. Codecademy originally created separate sections         *
for 760px screens in each section (a media query in the header section for a 760px screen header section,    *
then another media query in the sign up section for a 760px screen sign up section, etc.), therefore there   *
were many 760px media queries (as can be seen below) so I took al tthis code and put it in one 760px media   *
query in th right order (header, sign-up, main, etc.). This made things very easy for me to understand and   *
the code became readable for me. Otherwise it was too confusing.                                             *
                                                                                                             *
**************************************************************************************************************/ 

/* @media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
} */
/* @media only screen and (min-width: 760px) {
  footer .content {

    changed the font-size to 12px 
    font-size: 12px;

  } 
} */
/*@media only screen and (max-width: 760px) {
  #quotes-section content {
    padding: 1.875rem .625rem;
  }

  /* added a period before the quote to render proper styles for the the quote
  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  /* added a period before the quote-citation to render proper styles for the the quote
  #quotes-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
} */
/* added this section to the bottom where there's another 
media query (line 335) targeting the same screen max-width of 760px */

/*@media only screen and (max-width: 760px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
} */
/* @media only screen and (max-width: 760px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {

    /* changes the margin to auto for the sign-up section when the screen size is smaller. 
    This will cause the text 'Instant Format Camera' in the sign-up section to be in the center 
    of the screen when the screen size is reduced  
    margin: auto;

    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
} */
/* @media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
} */